<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <ng-container *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="/private">Private</a>
        </li>
      </ng-container>


    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link disabled">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">{{(currentUser)? 'Logged in': 'Not logged in'}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>